<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="singupForm"(ngSubmit)="onSubmit()">
        <div formGroupName="userdata">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control">
              <span *ngIf="!singupForm.get('userdata.username').valid && singupForm.get('userdata.username').touched" class="help-block">
                <span *ngIf="singupForm.get('userdata.username').errors['nameIsForbidden']">This name is invalid.</span>
                <span *ngIf="singupForm.get('userdata.username').errors['required']">This field is required</span>
                </span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              formControlName="email"
              id="email"
              class="form-control">
              <span *ngIf="!singupForm.get('userdata.email').valid && singupForm.get('userdata.email').touched" class="help-block">Please eneter a valid email.</span>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender"
              [value]="gender">{{ gender }}
          </label>
        </div>
        <div formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <button class="btn btn-default" type="button" (click)="onAddHobby()">Add Hobby</button>
          <div class="form-group"
          *ngFor="let hobbyControl of getControls(); let i = index">
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>
        <span *ngIf="!singupForm.valid && singupForm.touched" class="help-block">Please eneter a valid data.</span>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
