<h1>Hello world</h1>
<!-- <hinv-rooms> </hinv-rooms> -->

<hinv-container>
  <hinv-rooms> </hinv-rooms>
  <hinv-employee> </hinv-employee>
  <h1>This is form ng-content</h1>
</hinv-container>

<div>
  <h1 #name></h1>
</div>

<!--
<div [ngSwitch]="loginTypes">
    <div *ngSwitchCase="'User'">
        Welcome User!
    </div>
    <div *ngSwitchCase="'Admin'">
        <hinv-rooms></hinv-rooms>
    </div>
    <div *ngSwitchDefault>
        Sup!
    </div>
</div> -->

<!-- <div>
    <ng-template #user></ng-template>
</div> -->
